html {
	min-width: 1280px;
	background-color: rgb(242, 242, 242);
}

body {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	padding: 0;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.2;
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

img {
	width: 100%;
	height: auto;
}

header {
	max-height: 56px;
}

.main-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.main-navigation li {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
}

.main-navigation a {
	display: block;
	width: 239px;
	padding: 20px 0;
	color: rgb(0, 0, 0);
	text-decoration: none;
}

.main-navigation a:hover {
	color: rgb(129, 179, 210);
}

.main-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.main-navigation .logo {
	display: block;
	width: 244px;
	padding: 0;
}

.logo img {
	width: 138px;
	height: 70px;
}

.banner {
	min-height: 724px;
	text-align: center;
	background: rgb(129, 179, 210) url("../img/banner.jpg") no-repeat 0px -56px;
}

.banner p {
	margin: 0;
}

.banner .banner-desc {
	width: 440px;
	margin: 0 auto;
	margin-bottom: 28px;
	padding-top: 567px;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
}

.banner .banner-features {
	width: 492px;
	margin: 0 auto;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	text-transform: uppercase;
}

.content-desc,
.content-feature {
	width: 400px;
	height: 256px;
	padding: 60px;
	padding-top: 49px;
	padding-bottom: 54px;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 21px;
	color: rgb(255, 255, 255);
	text-align: center;
	background-color: rgb(129, 179, 210);
	overflow: auto;
}

.content-desc h2,
.content-feature h2 {
	margin: 0;
	margin-bottom: 22px;
	font-size: 21px;
	line-height: 24px;
}

.content-desc span,
.content-feature span {
	display: inline-block;
	margin-bottom: 20px;
	vertical-align: top;
}

.content-desc p,
.content-feature p {
	margin: 0;
	font-size: 14px;
	font-weight: 400;
}

.content-img {
	height: 256px;
}

.content-items {
	text-align: center;
}

.content-item {
	position: relative;
	float: left;
	width: 400px;
	padding: 0 72px;
	padding-top: 160px;
	padding-bottom: 80px;
	box-sizing: border-box;
}

.content-item::before {
	content: "";
	position: absolute;
	top: 60px;
	left: 50%;
	background: url("../img/sprite.png") no-repeat;
}

.content-item:nth-child(1)::before {
	width: 75px;
	height: 72px;
	margin-left: -39.5px;
	background-position: -50px -0px;
}

.content-item:nth-child(2)::before {
	width: 74px;
	height: 70px;
	margin-left: -39px;
	background-position: -50px -92px;
}

.content-item:nth-child(3)::before {
	width: 64px;
	height: 76px;
	margin-left: -32px;
	background-position: -50px -182px;
}

.content-item:nth-child(2) {
	padding-left: 55px;
	padding-right: 55px;
}

.content-item:nth-child(3) {
	padding-left: 90px;
	padding-right: 90px;
}

.content-item h2 {
	margin: 0;
	margin-bottom: 21px;
	color: rgb(0, 0, 0);
	font-size: 21px;
	line-height: 24px;
}

.content-items p {
	margin: 0;
	font-size: 14px;
	line-height: 21px;
	color: rgb(51, 51, 51);
}

.content-feature {
	float: left;
	color: rgb(0, 0, 0);
	background-color: rgb(238, 238, 238);
}

.content-features p,
.content-features span {
	color: rgb(51, 51, 51);
}

.content-form {
	padding: 0 315px;
	padding-top: 55px;
	text-align: center;
}

.content-form b {
	display: block;
	margin-bottom: 24px;
	font-size: 30px;
}

.content-form p {
	margin: 0;
	margin-bottom: 45px;
	font-size: 14px;
	line-height: 24px;
	color: rgb(51, 51, 51);
}

.btn {
	position: relative;
	z-index: 1;
	display: block;
	width: 568px;
	padding: 30px 10px;
	box-sizing: border-box;
	background-color: rgb(118, 99, 87);
	color: rgb(255, 255, 255);
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	text-decoration: none;
	border: none;
}

.btn:hover {
	background-color: rgb(96, 78, 67);
}

.btn:active {
	background-color: rgb(80, 62, 51);
}

.map img {
	width: 1200px;
	height: 593px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 40px 0;
	padding-left: 132px;
	padding-right: 103px;
	box-sizing: border-box;
	background-color: rgba(255, 255, 255, 0.9);
}

footer h3 {
	float: left;
	max-width: 136px;
	margin: 0;
	padding-top: 5px;
	font-size: 21px;
	line-height: 26px;
}

.social {
	position: absolute;
	bottom: 37px;
	left: 50%;
	margin-left: -75px;
	font-size: 0;
}

.social a {
	position: relative;
	display: inline-block;
	width: 46px;
	height: 48px;
	margin-right: 6px;
	vertical-align: top;
	font-size: 0;
	text-decoration: none;
	background-color: rgb(129, 179, 210);
	cursor: pointer;
}

.social a::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	background: url(../img/sprite.png) no-repeat;
}

.social a:hover {
	background-color: rgb(102, 158, 192);
}

.social a:active {
	background-color: rgb(84, 150, 189);
}

.social a:active::before {
	opacity: 0.3;
}

.social .tw::before {
	width: 17px;
	height: 15px;
	margin-top: -7.5px;
	margin-left: -8.5px;
	background-position: -50px -314px;
}

.social .fb::before {
	width: 10px;
	height: 19px;
	margin-top: -9.5px;
	margin-left: -5px;
	background-position: -90px -278px;
}

.social .yt::before {
	width: 20px;
	height: 16px;
	margin-top: -8px;
	margin-left: -10px;
	background-position: -50px -278px;
}

.copyright {
	float: right;
}

.copyright a {
	display: inline-block;
	width: 113px;
	height: 39px;
	vertical-align: top;
	font-size: 0;
	background: url(../img/sprite.png) no-repeat -30px -369px;
}

.copyright a:hover {
	background: url("../img/sprite.png") no-repeat -10px -428px;
}

.copyright a:active {
	opacity: 0.5;
}

.copyright span {
	display: inline-block;
	padding-top: 10px;
	margin-right: 5px;
	vertical-align: top;
}

.popup {
	position: absolute;
	bottom: 201px;
	left: 50%;
	z-index: 1;
	display: none;
	min-width: 568px;
	margin-left: -285px;
	padding: 55px;
	box-sizing: border-box;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.popup-show {
	display: block;
	-webkit-animation: opacity 0.6s;
	animation: opacity 0.6s;
}

label[for="enter"],
label[for="exit"] {
	position: relative;
	display: block;
	margin-bottom: 29px;
}

.popup label,
.popup input {
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	font-family: "PT Sans", "Arial", sans-serif;
	color: rgb(0, 0, 0);
	text-transform: uppercase;
}

.popup input {
	box-sizing: border-box;
	background-color: rgb(242, 242, 242);
	border: 2px solid rgb(242, 242, 242);
}

label[for="enter"] input,
label[for="exit"] input {
	width: 346px;
	margin-left: 20px;
	padding: 4px 15px;
}

.popup input:hover {
	background-color: rgb(235, 235, 235);
}

.popup input:active {
	background-color: rgb(255, 255, 255);
	border: 2px solid rgb(229, 229, 229);
}

label[for="enter"]::before,
label[for="exit"]::before {
	content: "";
	position: absolute;
	top: 8px;
	left: 430px;
	width: 22px;
	height: 22px;
	background: url("../img/sprite.png") no-repeat -10px -477px;
}

label[for="enter"]::before {}

label[for="exit"] input {
	margin-left: 16px;
}

label[for="adult"] input,
label[for="child"] input {
	width: 114px;
	padding: 4px 51px;
}

label[for="adult"] input {
	margin-right: 53px;
	margin-left: 37px;
}

label[for="child"] input {
	margin-left: 19px;
}

label[for="adult"],
label[for="child"] {
	position: relative;
}

label[for="adult"]::before,
label[for="adult"]::after,
label[for="child"]::before,
label[for="child"]::after {
	position: absolute;
	top: -4px;
	font-size: 28px;
	color: rgb(169, 169, 169);
}

label[for="adult"]::before {
	content: "-";
	left: 125px;
}

label[for="adult"]::after {
	content: "+";
	left: 199px;
}

label[for="child"]::before {
	content: "-";
	left: 73px;
}

label[for="child"]::after {
	content: "+";
	left: 149px;
}

label[for="adult"]:hover::before,
label[for="adult"]:hover::after,
label[for="child"]:hover::before,
label[for="child"]:hover::after {
	color: rgb(0, 0, 0);
}

.popup .btn {
	width: 100%;
	margin-top: 54px;
	padding: 17px;
	background-color: rgb(129, 179, 210);
	cursor: pointer;
}

.popup .btn:hover {
	background-color: rgb(102, 158, 192);
}

.popup .btn:active {
	background-color: rgb(84, 150, 189);
	color: rgba(255, 255, 255, 0.3);
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(129, 179, 210, 0.3);
}

.overlay-show {
	display: block;
}

@-webkit-keyframes opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
