html {
	min-width: 1280px;
	background-color: rgb(242, 242, 242);
}

body {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	padding: 0;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.2;
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

img {
	width: 100%;
	height: auto;
}

.main-navigation ul {
	min-width: 56px;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.main-navigation li {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
}

.main-navigation a {
	display: block;
	width: 239px;
	padding: 20px 0;
	color: rgb(0, 0, 0);
	text-decoration: none;
}

.main-navigation a:hover {
	color: rgb(129, 179, 210);
}

.main-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.main-navigation .logo {
	position: relative;
	display: block;
	width: 244px;
	padding: 0;
}

.logo img {
	position: absolute;
	left: 53px;
	width: 138px;
	height: 70px;
}

.banner {
	min-height: 724px;
	text-align: center;
	background: rgb(129, 179, 210) url("../img/banner.jpg") no-repeat 0px -56px;
}

.banner p {
	margin: 0;
}

.banner .banner-desc {
	width: 440px;
	margin: 0 auto;
	margin-bottom: 28px;
	padding-top: 567px;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
}

.banner .banner-features {
	width: 492px;
	margin: 0 auto;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	text-transform: uppercase;
}

.content-desc,
.content-feature {
	width: 400px;
	height: 256px;
	padding: 60px;
	padding-top: 49px;
	padding-bottom: 54px;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 21px;
	color: rgb(255, 255, 255);
	text-align: center;
	background-color: rgb(129, 179, 210);
	overflow: auto;
}

.content-desc h2,
.content-feature h2 {
	margin: 0;
	margin-bottom: 22px;
	font-size: 21px;
	line-height: 24px;
}

.content-desc span,
.content-feature span {
	display: inline-block;
	margin-bottom: 20px;
	vertical-align: top;
}

.content-desc p,
.content-feature p {
	margin: 0;
	font-size: 14px;
	font-weight: 400;
}

.content-img {
	height: 256px;
}

.content-items {
	text-align: center;
}

.content-item {
	position: relative;
	float: left;
	width: 400px;
	padding: 0 72px;
	padding-top: 160px;
	padding-bottom: 80px;
	box-sizing: border-box;
}

.content-item::before {
	content: "";
	position: absolute;
	top: 60px;
	left: 50%;
	background: url("../img/sprite.png") no-repeat;
}

.content-item:nth-child(1)::before {
	width: 75px;
	height: 72px;
	margin-left: -39.5px;
	background-position: -50px -0px;
}

.content-item:nth-child(2)::before {
	width: 74px;
	height: 70px;
	margin-left: -39px;
	background-position: -50px -92px;
}

.content-item:nth-child(3)::before {
	width: 64px;
	height: 76px;
	margin-left: -32px;
	background-position: -50px -182px;
}

.content-item:nth-child(2) {
	padding-left: 55px;
	padding-right: 55px;
}

.content-item:nth-child(3) {
	padding-left: 90px;
	padding-right: 90px;
}

.content-item h2 {
	margin: 0;
	margin-bottom: 21px;
	color: rgb(0, 0, 0);
	font-size: 21px;
	line-height: 24px;
}

.content-items p {
	margin: 0;
	font-size: 14px;
	line-height: 21px;
	color: rgb(51, 51, 51);
}

.content-feature {
	float: left;
	color: rgb(0, 0, 0);
	background-color: rgb(238, 238, 238);
}

.content-features p,
.content-features span {
	color: rgb(51, 51, 51);
}

.content-form {
	padding: 0 315px;
	padding-top: 55px;
	text-align: center;
}

.content-form b {
	display: block;
	margin-bottom: 24px;
	font-size: 30px;
}

.content-form p {
	margin: 0;
	margin-bottom: 45px;
	font-size: 14px;
	line-height: 24px;
	color: rgb(51, 51, 51);
}

.btn {
	position: relative;
	z-index: 1;
	display: block;
	width: 568px;
	padding: 30px 10px;
	box-sizing: border-box;
	background-color: rgb(118, 99, 87);
	color: rgb(255, 255, 255);
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	text-decoration: none;
	border: none;
}

.btn:hover {
	background-color: rgb(96, 78, 67);
}

.btn:active {
	background-color: rgb(80, 62, 51);
}

.map img {
	width: 1200px;
	height: 593px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 40px 0;
	padding-left: 132px;
	padding-right: 103px;
	box-sizing: border-box;
	background-color: rgba(255, 255, 255, 0.9);
}

footer h3 {
	float: left;
	max-width: 136px;
	margin: 0;
	padding-top: 5px;
	font-size: 21px;
	line-height: 26px;
}

.social {
	position: absolute;
	bottom: 37px;
	left: 50%;
	margin-left: -75px;
	font-size: 0;
}

.social a {
	position: relative;
	display: inline-block;
	width: 46px;
	height: 48px;
	margin-right: 6px;
	vertical-align: top;
	font-size: 0;
	text-decoration: none;
	background-color: rgb(129, 179, 210);
	cursor: pointer;
}

.social a::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	background: url(../img/sprite.png) no-repeat;
}

.social a:hover {
	background-color: rgb(102, 158, 192);
}

.social a:active {
	background-color: rgb(84, 150, 189);
}

.social a:active::before {
	opacity: 0.3;
}

.social .tw::before {
	width: 17px;
	height: 15px;
	margin-top: -7.5px;
	margin-left: -8.5px;
	background-position: -50px -314px;
}

.social .fb::before {
	width: 10px;
	height: 19px;
	margin-top: -9.5px;
	margin-left: -5px;
	background-position: -90px -278px;
}

.social .yt::before {
	width: 20px;
	height: 16px;
	margin-top: -8px;
	margin-left: -10px;
	background-position: -50px -278px;
}

.copyright {
	float: right;
}

.copyright a {
	display: inline-block;
	width: 113px;
	height: 39px;
	vertical-align: top;
	font-size: 0;
	background: url(../img/sprite.png) no-repeat -30px -369px;
}

.copyright a:hover {
	background: url("../img/sprite.png") no-repeat -10px -428px;
}

.copyright a:active {
	opacity: 0.5;
}

.copyright span {
	display: inline-block;
	padding-top: 10px;
	margin-right: 5px;
	vertical-align: top;
}

.popup {
	position: absolute;
	bottom: 201px;
	left: 50%;
	z-index: 1;
	display: none;
	min-width: 568px;
	margin-left: -285px;
	padding: 55px;
	box-sizing: border-box;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.popup-show {
	display: block;
	-webkit-animation: opacity 0.6s;
	animation: opacity 0.6s;
}

label[for="enter"],
label[for="exit"] {
	position: relative;
	display: block;
	margin-bottom: 29px;
}

.popup label,
.popup input {
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	font-family: "PT Sans", "Arial", sans-serif;
	color: rgb(0, 0, 0);
	text-transform: uppercase;
}

.popup input {
	box-sizing: border-box;
	background-color: rgb(242, 242, 242);
	border: 2px solid rgb(242, 242, 242);
}

label[for="enter"] input,
label[for="exit"] input {
	width: 346px;
	margin-left: 20px;
	padding: 4px 15px;
}

.popup input:hover {
	background-color: rgb(235, 235, 235);
}

.popup input:active {
	background-color: rgb(255, 255, 255);
	border: 2px solid rgb(229, 229, 229);
}

label[for="enter"]::before,
label[for="exit"]::before {
	content: "";
	position: absolute;
	top: 8px;
	left: 430px;
	width: 22px;
	height: 22px;
	background: url("../img/sprite.png") no-repeat -10px -477px;
}

label[for="enter"]::before {}

label[for="exit"] input {
	margin-left: 16px;
}

label[for="adult"] input,
label[for="child"] input {
	width: 114px;
	padding: 4px 51px;
}

label[for="adult"] input {
	margin-right: 53px;
	margin-left: 37px;
}

label[for="child"] input {
	margin-left: 19px;
}

label[for="adult"],
label[for="child"] {
	position: relative;
}

label[for="adult"]::before,
label[for="adult"]::after,
label[for="child"]::before,
label[for="child"]::after {
	position: absolute;
	top: -4px;
	font-size: 28px;
	color: rgb(169, 169, 169);
}

label[for="adult"]::before {
	content: "-";
	left: 125px;
}

label[for="adult"]::after {
	content: "+";
	left: 199px;
}

label[for="child"]::before {
	content: "-";
	left: 73px;
}

label[for="child"]::after {
	content: "+";
	left: 149px;
}

label[for="adult"]:hover::before,
label[for="adult"]:hover::after,
label[for="child"]:hover::before,
label[for="child"]:hover::after {
	color: rgb(0, 0, 0);
}

.popup .btn {
	width: 100%;
	margin-top: 54px;
	padding: 17px;
	background-color: rgb(129, 179, 210);
	cursor: pointer;
}

.popup .btn:hover {
	background-color: rgb(102, 158, 192);
}

.popup .btn:active {
	background-color: rgb(84, 150, 189);
	color: rgba(255, 255, 255, 0.3);
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(129, 179, 210, 0.3);
}

.overlay-show {
	display: block;
}

@-webkit-keyframes opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


/*hotels*/

.inner-form {
	padding: 25px 72px;
	padding-bottom: 31px;
	line-height: 21px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	background: rgb(112, 134, 155) url("../img/form.jpg") no-repeat 0 -60px;
}

.inner-form-check {
	float: left;
	width: 254px;
}

.inner-form-check>span,
.inner-form-filter>span {
	display: block;
	margin-bottom: 26px;
	font-size: 16px;
	font-weight: 700;
}

.inner-form-check input {
	display: none;
}

.inner-form-check label {
	position: relative;
	display: block;
	margin-bottom: 26px;
	padding-left: 39px;
}

.indicator {
	position: absolute;
	top: 0;
	left: 0;
	width: 22px;
	height: 22px;
	box-sizing: border-box;
	border: 3px solid;
	border-radius: 5px;
	cursor: pointer;
}

input:disabled~span {
	color: rgba(255, 255, 255, 0.5);
	opacity: 0.5;
}

.inner-form-check input:checked+.indicator::before,
.inner-form-check input:checked+.indicator::after {
	content: "";
	position: absolute;
	background-color: rgb(255, 255, 255);
}

.indicator::before {
	top: 5px;
	left: 4px;
	width: 3px;
	height: 10px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.indicator::after {
	top: 4px;
	left: 5px;
	width: 20px;
	height: 3px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.inner-form-check label:last-of-type {
	margin-bottom: 0;
}

.inner-form-filter {
	float: right;
	width: 328px;
	font-size: 0;
}

.inner-form-filter>span {
	position: relative;
	margin-bottom: 12px;
}

.inner-form-filter>span::before {
	content: "";
	position: absolute;
	top: 40px;
	left: 158px;
	width: 2px;
	height: 22px;
	background-color: rgb(255, 255, 255);
}

.inner-form-filter input {
	display: inline-block;
	width: 151px;
	margin-bottom: 18px;
	padding: 6.7px 3px;
	vertical-align: top;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: rgb(255, 255, 255);
	font-family: "PT Sans", "Arial", sans-serif;
	text-transform: uppercase;
	text-align: center;
	background-color: transparent;
	border: 2px solid rgb(255, 255, 255);
}

.inner-form-filter input:first-of-type {
	border-right-width: 0;
}

.inner-form-filter input:last-of-type {
	border-left-width: 0;
}

.inner-form-range {
	position: relative;
	width: 317px;
	height: 2px;
	margin-bottom: 32px;
	background-color: rgba(255, 255, 255, 0.3);
}

.inner-form-range::before {
	content: "";
	position: absolute;
	width: 248px;
	height: 2px;
	background-color: rgb(255, 255, 255);
}


/*
.inner-form-range::after {
	content: "";
	position: absolute;
	top: 4px;
	left: 228px;
	width: 17px;
	height: 22px;
	background: url("../img/sprite.png") no-repeat -0px -509px;
}
*/

.form-rounds {
	position: absolute;
	top: -9px;
	display: block;
	width: 20px;
	height: 20px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 2px 0 rgba(0, 1, 1, 0.14);
	border-radius: 50%;
	cursor: pointer;
}

.form-rounds::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 4px;
	height: 4px;
	margin-top: -2px;
	margin-left: -2px;
	background-color: rgb(171, 171, 171);
	border-radius: 50%;
}

.right-side {
	left: 232px;
}

.right-side.form-rounds::before {
	background-color: rgb(28, 79, 128);
}

.inner-form-filter button {
	width: 137px;
	margin-left: 85px;
	padding: 6px 0;
	font-size: 14px;
	line-height: 21px;
	color: rgb(255, 255, 255);
	text-align: center;
	text-transform: uppercase;
	background-color: transparent;
	border: 2px solid rgb(255, 255, 255);
	cursor: pointer;
}

.inner-form-filter button:hover {
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
}

.inner-content {
	position: relative;
	padding: 31px 72px;
}

.inner-content-sorting {
	padding-right: 38px;
}

.inner-content-sorting span:first-of-type {
	margin-right: 44px;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
}

.inner-content-sorting span:nth-of-type(2),
.inner-content-sorting a {
	margin-right: 32px;
	font-size: 12px;
	line-height: 18px;
	color: rgb(0, 0, 0);
	text-decoration: none;
}

.inner-content-sorting a {
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted rgb(129, 179, 210);
}

.inner-content-sorting a.current {
	color: rgb(129, 179, 210);
	border: none;
}

.arrow-up,
.arrow-down {
	position: absolute;
	top: 39px;
	border-style: solid;
	border-color: rgb(204, 204, 204);
}

.arrow-up {
	right: 96px;
	border-width: 0 5.5px 10px 5.5px;
	border-right-color: transparent;
	border-left-color: transparent;
}

.arrow-down {
	right: 72px;
	border-width: 10px 5.5px 0 5.5px;
	border-color: rgb(129, 179, 210);
	border-right-color: transparent;
	border-left-color: transparent;
}

.inner-content-hotel {
	position: relative;
	padding: 30px 72px;
}

.inner-content-hotel::before,
.inner-content-hotel:last-child::after {
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: rgb(229, 229, 229);
}

.inner-content-hotel::before {
	top: 0;
}

.inner-content-hotel:last-child::after {
	bottom: 0;
}

.inner-content-hotel figure {
	float: left;
	width: 135px;
	height: 90px;
	margin: 0;
	margin-right: 31px;
}

.inner-content-hotel img {
	width: 135px;
	height: 90px;
}

.hotel-desc {
	float: left;
	width: 258px;
}

.hotel-desc h2 {
	margin: 0;
	margin-bottom: 12px;
	font-size: 21px;
	line-height: 15px;
}

.hotel-desc h2:hover {
	color: rgb(129, 179, 210);
}

.hotel-desc h2:active {
	color: rgba(0, 0, 0, 0.3);
}

.hotel-desc span {
	display: block;
	line-height: 21px;
	color: rgb(51, 51, 51);
}

.hotel-desc-left {
	width: 110px;
}

.hotel-desc-left a {
	width: 110px;
	background-color: rgb(129, 179, 210);
}

.hotel-desc-left a:hover {
	background-color: rgb(102, 158, 192);
}

.hotel-desc-left a:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: rgb(84, 150, 189);
}

.hotel-desc-right {
	width: 142px;
}

.hotel-desc-right a {
	width: 142px;
	background-color: rgb(118, 99, 87);
}

.hotel-desc-right a:hover {
	background-color: rgb(96, 78, 67);
}

.hotel-desc-right a:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: rgb(80, 62, 51);
}

.hotel-desc a {
	display: inline-block;
	margin-top: 16px;
	padding: 4px 0;
	vertical-align: top;
	color: rgb(255, 255, 255);
	text-decoration: none;
	text-align: center;
}

.hotel-rating {
	float: right;
}

.inner-content-hotel:nth-child(2) .hotel-stars {
	width: 42px;
}

.inner-content-hotel:nth-child(3) .hotel-stars {
	width: 65px;
}

.hotel-stars {
	float: right;
	width: 89px;
	height: 17px;
	margin-bottom: 47px;
	background: url("../img/sprite.png") repeat -0px -539px;
}

.inner-content-hotel:nth-child(2) .hotel-stars {
	width: 42px;
	margin-left: 69px;
}

.hotel-rating span {
	clear: both;
	display: block;
	width: 110px;
	padding: 5px 0;
	color: rgb(102, 102, 102);
	text-align: center;
	background-color: rgb(242, 242, 242);
}

.inner-page footer {
	position: relative;
}
